.leaflet-container {
  cursor: auto;
  cursor: auto;
  }

  .intro{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #000;
  }

  /* Mode buttons */
  .btnswitch{
    background: transparent;
  }

  .btnswitch:focus{
    background: transparent;
  }

  .btnswitch:active{
    background: transparent;
  }

  .btnswitch.btnfill{
    background-color: #41C6EB;
  }

  .btnswitch.btnfill:focus{
    background-color: #41C6EB;
  }

  .btnswitch.btnfill:active{
    background-color: #41C6EB;
  }

  /* Layer buttons */
  .btn-tilelayer{
    background: transparent;
  }

  .btn-tilelayer:focus{
    background: transparent;
  }

  .btn-tilelayer:active{
    background: transparent;
  }

  .btn-tilelayer.btnfill{
    background-color: #41C6EB;
  }

  .btn-tilelayer.btnfill:focus{
    background-color: #41C6EB;
  }

  .btn-tilelayer.btnfill:active{
    background-color: #41C6EB;
  }

  .modebuttons img{
    width: 30px;
    position: absolute;
    left: 30px;
    top: 5px;
  }

  .modebuttons{
    float: left;
    width: 50%;
  }

  .modebuttons a{
    width: 150px;
  }

  .intro #video{
    max-width: 100%;
    max-height: 100%;
  }

  .intro .close{
    position: absolute;
    bottom: 65px;
    right: 25px;
  }

  #mapdiv{
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  #sliderholder #slider2 .ui-slider-handle{
    width: 17px;
    height: 50px;
    background: #55c3eb;
    border-radius: 10px;
    top: -12px;
    filter: none !important;
  }

  .maplayerbuttons{
    float: right;
    margin-right: 5px;
  }

  .modebuttons .col-md-4{
    float: left;
    width: 33%;
  }

  #slider2{
    position: absolute;
    margin: auto;
    background: transparent;
    width: 99%;
    height: 30px;
  }

  .epochholder{
    overflow: hidden;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 22px;
    text-shadow: 0 0 1px #000;
  }

  .ui-widget-header{
    background: transparent;
  }

  .btn-info.btn-fill{
    background-color: #41C6EB;
    border-color: #41C6EB;
  }

  .btn-info{
    border-color: #41C6EB;
  }

  #sliderholder .spantitle{
    text-align: center;
    display: block;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  #sliderholder{
    position: absolute;
    width: 90%;
    left: 5%;
    z-index: 100;
    bottom: 5%;
    background: #fff;
    border-radius: 5px;
    border: 3px solid #41C6EB;
    padding: 3px;
    display: none;
  }

  .tags{
    margin: 10px 0;
  }

  .tags span{
    border-radius: 7px;
    margin-right: 5px;
    padding: 5px;
    background: #E3D438;
    color: #fff;
  }

  .wide-popup .leaflet-popup-content{
    width: 401px!important;
  }

  .x-wide-popup .leaflet-popup-content{
    width: 560px!important;
  }

  #slidertitle{
    text-align: center;
    font-size: 18px;
    color: #55c3eb;
    position: absolute;
    width: 100%;
    top: -40px;
  }

  #slidertitle .inner{
    background: #fff;
    display: inline;
    padding: 7px;
    border-radius: 5px;
    border: 3px solid #41C6EB;
  }

  #sliderholder .epochholder div {
    height: 25px;
    border: 1px solid;
    float: left;
    color: #fff;
  }

  #sliderholder .epochholder div.el0{
    background: #919191;
  }
  #sliderholder .epochholder div.el1{
    background: #898989;
  }
  #sliderholder .epochholder div.el2{
    background: #7d7d7d;
  }
  #sliderholder .epochholder div.el3{
    background: #787878;
  }
  #sliderholder .epochholder div.el4{
    background: #747474;
  }
  #sliderholder .epochholder div.el5{
    background: #6f6f6f;
  }
  #sliderholder .epochholder div.el6{
    background: #686868;
  }

  #sliderholder .epochholder div.el7{
    background: #636363;
  }
  #sliderholder .epochholder div.el8{
    background: #5c5c5c;
  }
  #sliderholder .epochholder div.el9{
    background: #555555;
  }
  #sliderholder .epochholder div.el10{
    background: #505050;
  }
  #sliderholder .epochholder div.el11{
    background: #4c4c4c;
  }



  .logoholder{
    margin-top: -5px;
    margin-bottom: 5px;
    width: 220px;
    float: left;
  }

  .logoholder img{
    width: 100%;
  }
  
  #sliderholder .ui-slider-float .ui-slider-tip, #sliderholder .ui-slider-float .ui-slider-tip-label{
    width: 55px;
    margin-left: -27px;
  }

  .width100{
    width: 100%;
    min-height: 200px;
  }

  .leaflet-popup-content .width100{
    border: 1px solid #c7c8c8;
  }

  #walkholder{
    display: none;
  }

  #walkholder img{
    width: 100%;
  }

  #walkholder p{
    font-size:14px;
    font-weight: bold;
  }

  span.infotitle {
    float: left;
    clear: left;
    margin-right: 5px;
    font-weight: bold;
  }

  span.info {
    display: block;
    margin-bottom: 10px;
  }

  .btn-info:hover, .btn-info:focus, .btn-info:active, .open .dropdown-toggle.btn-info{
    border-color: #55c3eb;
  }

  .btn-info{
    color: #55c3eb;
  }

  .btn-info.btn-fill{
    color: #fff;
  }

  .btn-info.btn-fill:hover{
    background: #E3D438;
    border-color: #E3D438;
  }

  .btn:focus{
    outline: 0px auto -webkit-focus-ring-color;
  }

  .leaflet-popup-close-button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
  }

  .video-js {padding-top: 56.25%}
.vjs-fullscreen {padding-top: 0px}


.marker-icon{
  display: block;
  width: 20px;
  height: 20px;
  background-size: 100%;
}

.marker-icon.marker-brown{
  background-image: url('../img/marker-brown-2x.png');
}

.marker-icon.marker-orange{
  background-image: url('../img/marker-orange-2x.png');
}

.marker-icon.marker-green{
  background-image: url('../img/marker-green-2x.png');
}

.marker-icon.marker-blue{
  background-image: url('../img/marker-blue-2x.png');
}

.marker-icon.marker-purple{
  background-image: url('../img/marker-purple-2x.png');
}

.marker-icon.marker-white{
  background-image: url('../img/marker-white-2x.png');
}

.leaflet-panel-layers-group{
  background: transparent;
  border: none;
}

legend.leaflet-panel-layers-grouplabel{
  margin-bottom: 0px;
  border-bottom: none;
}

.leaflet-panel-layers label.leaflet-panel-layers-item{
  height: 27px;
}


.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

* {
  color: #663333;
}

.checkbox input, .radio input{
  display: block;
}

.uploadtext{
  width: 100%;
  height: 100px;
}

.textarea-group, .fileupload-group{
  display: none;
}

.leaflet-popup-content{
  overflow: auto;
}

.share{
  float: right;
}

.tags{
  float: left;
}

a.share {
  display: block;
  height: 25px;
  width: 46px;
  margin: 5px;
  background-size: 100%;
  background-repeat: no-repeat;
}

a.share.facebook{
  background-image: url(../img/facebook.png);
}

a.share.twitter{
  background-image: url(../img/twitter.png);
}